body {
    background-color: cornsilk;
}
.header_w_img{
    background-image: url(images/donation10.jpg);
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    
   
    margin: 0;
   
}
#dfrnt {
    color: aliceblue;
    font-weight: 900;
    font-size: bold;
    text-align:center;
}
h1{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: aliceblue;
}
p {
    text-align: center;
    color: rgb(50, 56, 56);
}
#donate {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: orange;
    border-radius: 5px;
    padding: 6px;
    color: white;
}   
h2  {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}
.donation_amount{
    margin-top: 50px;
    
    
}

.amnt_box  {

    list-style: none;
    display: flex;
    justify-items: center;
    margin-top: 50px;
   
    
}
li {
    flex-grow: 1;
    flex-basis: 0;

    flex-flow: row;
    height: 20px;
    width: 5px;
    margin: 2px;
    margin-left: 50px;
    padding-bottom: 30px;

    
}
hr {
    width: 50%;
}

#button {
    text-align: center;
    

}



.footer {
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

}
h3 {
    color: salmon;
}

.donation_plan {
    margin-top: 50px;
    margin-bottom: 30px;
    
}
.plan-types {
    display: flex;
    
    justify-content: center;
   
}
.plan {
    width: 300px;
    height: 200px;
    border: solid 1px beige;
    
    padding: 10px;
    border-radius: 5px;
    margin-right: 15px;
}
.food {
    background-color: azure;
}
.shelter {
    background-color: aquamarine;
}
.education {
    background-color: lavender;
}
.
h4 {
    text-align: center;
}
.subscription {
    background-color: floralwhite;
    display: flex;
    justify-content: center;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 35px;
}
#input {
    background-color: darkgray;

}
#btn {
    background-color: tomato;
}